
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/*/Build/
Build/*/Binaries/
Build/*/Intermediate/

Plugins/**/Binaries/
Plugins/**/Intermediate/
Plugins/**/Saved/

.vscode/
.vs/
.idea/

*.sln
*.sdf
*.opensdf
*.opendb
*.suo
*.VC.db

*.xcodeproj
*.xcworkspace
.DS_Store

Thumbs.db

*.pdb
*.ipdb
*.iobj
*.idb
*.obj
*.log
*.tlog
*.tmp
*.pch
*.cache
*.dat
*.manifest
*.modules
*.rsp

*.bak
*.swp
*.swo

ShaderCache/
*.xcodeproj/*
*.xcworkspace/*

*.lock
